/*
SHORT SCREENS: -600PX
SMARTPHONE: 600-7068PX
TABLET: 758PX-992PX
DESKTOP: 992PX-1200PX
LARGE SCREENS: 1200PX-
*/

/*PC*/
.container{
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
    padding-bottom: 20px;
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 50px;
}

.top-bar input{
    display: flex;
    width: 500px;
    height: 78px;
    background-color: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 50px;
    margin-top: 30px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    color: #626262cb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 18px;
    margin-top: 33px;
    background-color: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    display: flex;
    justify-content: center;
}

.weather-image img{
    margin-top: 20px;
    max-width: 40%;
    height: auto;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
    height: 140px;
}

.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 300;
}

.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px
}

.data{
    font-size: 24px;
    font-weight: 400px;
}

.text{
    font-size: 20px;
    font-weight: 400;
}

.icon{
    margin-top: 10px;
}

.footer{
    color: white;
    margin-top: 50px;
}

.footer a{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.115);
    padding: 5px;
    border-radius: 20px;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 12px;
        background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
        padding-bottom: 50px;
    }
    
    .top-bar{
        display: flex;
        justify-content: center;
        gap: 14px;
        padding-top: 10px;
    }
    
    .top-bar input{
        display: flex;
        width: 210px;
        height: 40px;
        background-color: #ebfffc;
        border: none;
        outline: none;
        border-radius: 40px;
        padding-left: 20px;
        color: #626262;
        font-size: 19px;
        font-weight: 400;
    }
    
    .search-icon{
        color: #626262cb;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-top: 34px;
        padding: 10px;
        background-color: #ebfffc;
        border-radius: 40px;
        cursor: pointer;
    }
    
    .weather-image{
        display: flex;
        justify-content: center;
    }
    
    .weather-image img{
        margin-top: 20px;
        max-width: 43%;
        height: auto;
    }
    
    .weather-temp{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 60px;
        font-weight: 300;
        height: 65px;
    }
    
    .weather-location{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 35px;
        font-weight: 200;
    }
    
    .data-container{
        margin: 40px 20px 0px;
        color: white;
        display: flex;
        justify-content: center;
    }
    
    .element{
        margin: auto;
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }
    
    .data{
        font-size: 20px;
        font-weight: 400px;
    }
    
    .text{
        font-size: 20px;
        font-weight: 200;
    }
    
    .icon{
        margin-top: 10px;
        width: 30px;
    }
    .footer{
        margin-top: 40px;
        font-size: 13px;
    }
}